
html {
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', sans-serif;
}
p{
    margin-bottom: .75rem;
}

.wrapper {
    background: url(/img/bg3.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    vertical-align: middle;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

a {
    text-decoration: none ;
}

.container {
    /*margin-bottom: 40px;*/
    z-index: 5;
}

.header__menu {
    padding: 20px 50px;
    align-self: flex-end;
}


.phone {
    font-size: 25px;
    color: #fff !important;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


.menu__list-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.submenu {
    display: none;
    position: absolute;
    left: 119px;
    top: 26px;
    padding-top: 15px;
}

.menu__list-item1:hover .submenu {
    display: block;
}

.submenu li {
    padding: 5px 0;
}

.header__phone {
    margin-left: auto;
}
.header_inner .button{
    background:#e7e700;

}
.button {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.main__text {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.main__section {
    text-align: center;
    padding-bottom: 2rem;

}

.main__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__date {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.main__date i {
    margin-right: 15px;
}

.main__logo {
    max-width: 200px;
    width: 100%;
}


h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.lineup__item {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 70px 50px;
    justify-content: center;
    text-align: center;
}

.foto{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 210px;
    height: 210px;
    margin-bottom: 15px;
  }
  .foto img{
    width:100%;
    height:100%;
      object-fit: cover;
  }

  .name {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 10px;
      color: #fff;
  }

  .from {
    font-size: 15px;
    font-weight: 300;
    color: #bbb;
  }

  .location__text {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    
    margin-bottom: 30px;
  }


  .Contacts__wrapper {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    
  }

  .center__wrapper {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    max-width: 1200px;
    margin: 1rem auto;
  }

  .about_us__text {
      display: flex;
      justify-content: space-between;
      gap: 120px;
      text-align: start;
      font-size: 18px;
  }

  .about_us__text2 {
      max-width: 550px;
      width: 100%;
  }

  .about_us__text i {
      margin-right: 10px;
  }

  .ticket__wraper {
    text-align: center;
  }

  .ticket__text {
    text-align: center;
    font-size: 22px;
  }

.ticket__container {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    
    margin-bottom: 40px;
}

.ticket__container h3 {
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 20px;
}

.ticket__container h2 {
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 30px;
}

.ticket__container-button {
    background-color: #e7e700;
    border: none;
    border-radius: 30px;
    color: black !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 220px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
}

.about__wrapper p {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    
    margin-bottom: 40px;
}
.socIcons{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.socIcons a{
    color: #fff;
    display: block;
    margin: .5rem;
    padding: .25rem;
}

.innerBody{
    color: #fff;
    background: #222 url("/img/logo_bg_15.png") no-repeat center;
    background-attachment: fixed;
    min-height: 100vh;
}

.bgfond {
    color: #fff;
    background: #222 url("/img/bgbg3.png") no-repeat center;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: 700px 700px;
}

.lineup__actor{
    display: block;
}

.center__wrapper i {
    margin-right: 15px;
}

.center__wrapper h2 {
    font-size: 20px;
}


@media (max-width:720px){
    .header__phone{
        margin-right: auto;
    }
    .ticketLi{
        width: 100%;
        text-align: center;
    }
    .lineup__item{
        grid-template-columns:40% 40%;
        gap: 5% 5%;
        margin-bottom: 25rem;
    }
    .foto{
        width: 100%;
        height: 40vw;
    }
    .foto img{
        display: block;
    }

}